<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!-- List of Jira queries to iterate and sync. Recommend syncing epics (parents) first. -->
    <add key="Jira.Queries" value="
      project = 'projectname' and status not in (done) and type = epic and sprint is empty
      project = 'projectname' and status not in (done) and type not in (epic, subtask)
    " />
    
    <!-- Map key/value pairs from Jira to VSTS for Priority -->
    <add key="Jira.Map.Priority" value="
      P1, 1
      P2, 2
      P3, 3
      P4, 4
      P5, 4
      Critical, 2
      Major, 2
      Minor, 3
      Trivial, 4
      Highest, 1
      High, 2
      Medium, 3
      Low, 4
      Lowest, 4
      
    " />
    
    <!-- Map key/value pairs from Jira to VSTS for Status -->
    <add key="Jira.Map.Status" value="
      To do, New
      In Progress, Active
      Dev Complete, Active
      In Testing, Active
      Done, Resolved
    " />

    <!-- Map key/value pairs from Jira to VSTS for Status -->
    <add key="Jira.Map.Type" value="
      Story, User Story
      Epic, Feature
      Bug, Bug
      Sub-task, Task
    " />

    <!-- Map key/value pairs from Jira to VSTS for Users -->
    <add key="Jira.Map.Users" value="
      username, email@address.com
    " />

    <add key="Jira.Project" value="projectname"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>